.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.Counter__wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Counter__h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

button {
  cursor: pointer;
  color: white;
  background: rgb(75, 75, 75);
  width: 2rem;
  height: 2rem;
}

.Counter__gist {
  width: 50%;
  height: 10rem;
}
