.App {
  display: flex;
  flex-direction: column;
  /* gap: 5rem; */
}

/* .HamburgerMenu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
}

.HamburgerMenu__icon {
  width: 3rem;
}

.HamburgerMenu__mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0 0 100% 0;
  top: 0;
  right: 0;
} */
